$footer-height: 26px;
$header-height: 40px;
$avatar-spacing: 18px;

.main-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.avatar {
  border-radius: 100%;
  color: #fff;
  height: $avatar-spacing;
  line-height: $avatar-spacing;
  width: $avatar-spacing;
  padding: 2px;
  text-align: center;
  text-align: center;
  box-sizing: content-box;
  display: inline-block;
}

.notifications-container {
  margin-top: 100%;
}

.container.main {
  height: calc(100% - #{$footer-height} - #{$header-height});
  max-width: none;

  li {
    list-style: none;
  }
}

header {
  height: $header-height;
  text-align: left;
}

footer {
  font-size: 1.2rem;
  height: $footer-height;
  text-align: center;
}

.footer, .header {
  padding: 0.5rem;
  background-color: #1f1f1f;
  color: white;
}

.messages-container {
  height: 600px;
  overflow-y: auto;
}
